/*-----------------------------------------
Lava Realestate Manager
	0. Default
	1. Single Page
	2. Listing Page
	3. Add Item Page
	4. Dashboard My Item List Page
	5. Sidebar - Widget
	6. jQuery Lava MessageBox
	7. Map Template Page
-----------------------------------------*/
/*-----------------------------------------
	0. Default
-----------------------------------------*/
.main-navigation li ul.sub-menu {
  z-index: 999;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
@media (max-width: 1178px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .property-single .property-title {
    line-height: 25px;
  }
  .four.columns {
    margin: 0 auto;
    display: table;
  }
}
@media (max-width: 480px) {
  .description #lava-realestate-amenities {
    display: table;
  }
  .description #lava-realestate-amenities .lava-amenity {
    width: 50%;
    margin: 0;
  }
}
.entry-content .gm-style img {
  max-width: none;
}
/*-----------------------------------------
	1. Single Page
-----------------------------------------*/
.property-single h1 {
  color: #666;
  font-size: 22px;
  line-height: 60px;
  letter-spacing: 2px;
  font-weight: bold;
}
.property-single h2 {
  color: #777;
  font-size: 15px;
  line-height: 33px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px 0;
  border-bottom: 2px solid #eee;
}
.property-single p {
  color: #999;
  font-size: 13px;
  line-height: 26px;
  font-weight: nomal;
}
.property-single strong {
  font-size: 13px;
  color: #888;
  font-weight: 600;
  text-align: center;
}
.property-single .meta-summary a {
  text-decoration: none;
}
.property-single .meta-summary strong {
  display: block;
}
.property-single .meta-summary img {
  width: 4em;
  height: 4em;
  margin-bottom: 5px;
  border-radius: 100%;
}
.property-single .meta-summary li {
  display: inline-block;
  text-align: center;
  margin: 0px 5em 0 0;
  vertical-align: middle;
}
.property-single .meta-summary li span {
  line-height: 40px;
  font-size: 12px;
  color: #999;
}
.property-single .meta-summary .meta-type span:not(:empty) {
  background: #ff5a5f;
  color: #fff;
  padding: 1px 10px;
  border-radius: 3px;
}
.property-single .meta-condition li {
  display: inline-block;
  text-align: center;
  margin: 0 2.5em 0 0;
  vertical-align: middle;
}
.property-single .meta-condition li span {
  line-height: 30px;
  font-size: 12px;
  color: #999;
}
.property-single #lava-realestate-amenities {
  display: block;
}
.property-single #lava-realestate-amenities .lava-amenity {
  display: inline-block;
  margin: 3px 5px;
  color: #ccc;
  width: 28%;
  font-size: 13px;
}
.property-single #lava-realestate-amenities .lava-amenity::before {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  font-weight: bold;
  content: '';
}
.property-single #lava-realestate-amenities .lava-amenity.active {
  color: #454545;
}
.property-single #lava-realestate-amenities .lava-amenity.active::before {
  content: 'v';
}
.property-single #lava-realestate-amenities .lava-amenity.showall {
  color: #454545;
  width: auto;
}
.property-single .lava-detail-images {
  position: relative;
}
.property-single .lava-detail-images ul.lava-attach-item > li {
  height: 300px;
  overflow: hidden;
  position: relative;
  display: block;
}
.property-single .lava-detail-images ul.lava-attach-item > li > img {
  max-width: 100%;
  height: 300px;
}
.property-single .lava-detail-images .flex-direction-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.property-single .lava-detail-images .flex-direction-nav > li > a {
  display: block;
  left: auto;
  opacity: 1;
}
.property-single .lava-detail-images .flex-direction-nav > li > a::before {
  font-size: 15pt;
}
.property-single .lava-detail-images .flex-direction-nav > li > a::after {
  color: #fff;
  display: block;
  font-family: sans-serif;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
}
.property-single .lava-detail-images .flex-direction-nav .flex-nav-prev {
  left: 0;
}
.property-single .lava-detail-images .flex-direction-nav .flex-nav-next {
  right: 0;
}
.property-single .lava-detail-images .flex-direction-nav .flex-nav-next a {
  right: auto;
  text-align: center;
}
.property-single .lava-detail-images .flex-direction-nav .flex-nav-prev,
.property-single .lava-detail-images .flex-direction-nav .flex-nav-next {
  text-align: center;
  position: absolute;
  display: block;
  top: 50%;
  margin: 0;
  padding: 0px;
  margin-top: -15px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) and (max-width: 991px) {
  .property-single .meta-summary li {
    margin: 0px 2em 0 0;
  }
}
/*-----------------------------------------
	2. Listing Page
-----------------------------------------*/
#lava-realstate-manager-listing {
  margin-bottom: 2em;
  background: #f4f4f4;
  padding: 2%;
  border-radius: 5px;
}
#lava-realstate-manager-listing .search-type .search-type-keywords,
#lava-realstate-manager-listing .search-type .search-type-location {
  width: 35%;
  padding-right: 1.5em;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#lava-realstate-manager-listing .search-type .search-type-keywords input,
#lava-realstate-manager-listing .search-type .search-type-location input,
#lava-realstate-manager-listing .search-type .search-type-keywords select,
#lava-realstate-manager-listing .search-type .search-type-location select {
  height: 34px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.428571429rem;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#lava-realstate-manager-listing .search-type .search-type-category {
  float: left;
  width: 30%;
}
#lava-realstate-manager-listing .search-type .search-type-category select {
  height: 34px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.428571429rem;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#lava-realstate-manager-listing .select-type {
  margin-top: 45px;
}
#lava-realstate-manager-listing .select-type li {
  display: inline-block;
  margin-left: 0;
}
#lava-realstate-manager-listing .select-type li:last-child label {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
#lava-realstate-manager-listing .select-type label {
  margin-right: 9px;
  font-size: 13px;
  border-right: 1px solid #ccc;
  padding-right: 9px;
}
#lava-realstate-manager-output a {
  text-decoration: none;
}
#lava-realstate-manager-output h1 {
  color: #999;
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
}
#lava-realstate-manager-output .lava-realstate-manager-listing-item {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  border-bottom: 1px solid #e9e9e9;
}
#lava-realstate-manager-output .lava-realstate-manager-listing-item:hover {
  background: #f9f9f9;
  border-radius: 3px;
}
#lava-realstate-manager-output .lava-realstate-manager-listing-item .lava-image {
  width: 15%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
#lava-realstate-manager-output .lava-realstate-manager-listing-item .lava-image .lava-thb {
  width: 4em !important;
  height: 4em !important;
  margin: 0 auto;
  border-radius: 100%;
  background-position: center center;
  background-size: cover;
}
#lava-realstate-manager-output .lava-realstate-manager-listing-item .lava-image strong {
  color: #888;
  font-size: 1em;
}
#lava-realstate-manager-output .lava-realstate-manager-listing-item .description {
  width: 84%;
  display: inline-block;
  vertical-align: middle;
}
#lava-realstate-manager-output .lava-realstate-manager-listing-item .description ul {
  list-style: none;
  margin: 0;
  margin-top: 5px;
  padding: 0;
}
#lava-realstate-manager-output .lava-realstate-manager-listing-item .description ul li {
  margin: 0;
  display: inline-block;
  margin-right: 1em;
}
#lava-realstate-manager-output .lava-realstate-manager-listing-item .description ul li span {
  font-size: 13px;
  color: #999;
}
#lava-realstate-manager-output .lava-realstate-manager-listing-item .description ul .meta-type span:not(:empty) {
  background: #ff5a5f;
  color: #fff;
  padding: 2px 10px;
  border-radius: 3px;
  font-size: 12px;
}
#lava-realstate-manager-output .lava-realstate-manager-listing-item .description ul .meta-date {
  float: right;
}
@media (max-width: 992px) {
  #lava-realstate-manager-listing .search-type .search-type-category select {
    height: 34px;
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  #lava-realstate-manager-output .lava-realstate-manager-listing-item .lava-image {
    display: none;
  }
  #lava-realstate-manager-output .lava-realstate-manager-listing-item .description ul .meta-date {
    display: none;
  }
  #lava-realstate-manager-output .lava-realstate-manager-listing-item .description ul .meta-location {
    margin-right: 0;
  }
}
/*-----------------------------------------
	3. Add Item Page
-----------------------------------------*/
#lava-additem-form form .form-inner {
  padding: 14px 0px 10px 0px;
  border-bottom: 1px solid #e9e9e9;
  display: table;
  width: 100%;
}
#lava-additem-form form .form-inner label {
  width: 29%;
  display: table-cell;
  line-height: 34px;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #777;
}
#lava-additem-form form .form-inner .selectize-control,
#lava-additem-form form .form-inner select,
#lava-additem-form form .form-inner input,
#lava-additem-form form .form-inner textarea,
#lava-additem-form form .form-inner .lava-fileupload-wrap,
#lava-additem-form form .form-inner .form-inner-video {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  line-height: 21px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#lava-additem-form form .form-inner .select {
  width: 100%;
}
#lava-additem-form form .form-inner .select::after,
#lava-additem-form form .form-inner .select::before {
  content: none !important;
}
#lava-additem-form form .form-inner input,
#lava-additem-form form .form-inner .selectize-input,
#lava-additem-form form .form-inner textarea {
  padding: 0.5em 1em;
  font-size: 12px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#lava-additem-form form .form-inner .video-portal,
#lava-additem-form form .form-inner .video-id {
  display: inline-block;
}
#lava-additem-form form .form-inner .video-portal select {
  width: 100%;
  vertical-align: middle;
}
#lava-additem-form form .form-inner .video-id {
  width: 60%;
}
#lava-additem-form form .form-inner .video-id input {
  width: 100%;
  height: 34px;
  vertical-align: middle;
}
#lava-additem-form form #lava-detail-image-input-wrap fieldset {
  max-width: 25%;
  float: left;
}
#lava-additem-form form button {
  background: #eee;
  border: 1px solid #e9e9e9;
  padding: 6px 12px;
  color: #666;
  margin-top: 10px;
}
#lava-additem-form form button:hover {
  background: #ccc;
  border: 1px solid #ccc;
  color: #fff;
}
#lava-additem-upload-loading {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url('../images/loading.gif');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
}
div#lava-detail-image-input-wrap::after {
  content: '';
  display: block;
  clear: both;
}
/*-----------------------------------------
   4. Dashboard My Item List Page
-----------------------------------------*/
.lava-my-item-list h2 {
  color: #777;
  font-size: 15px;
  line-height: 33px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px 0;
  border-bottom: 2px solid #eee;
}
.lava-my-item-list table thead {
  background: #f4f4f4;
}
.lava-my-item-list table thead tr th {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 5px 15px;
  color: #666;
}
.lava-my-item-list table tbody tr th {
  padding: 15px 15px 5px 15px;
  font-size: 12px;
  color: #999;
  border-bottom: 1px solid #e9e9e9;
}
.lava-my-item-list table tbody tr th .lava-title {
  margin-bottom: 0em;
  line-height: 15px;
}
.lava-my-item-list table tbody tr th .lava-title a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
  font-weight: 600;
}
.lava-my-item-list table tbody tr th .lava-action {
  line-height: 15px;
}
.lava-my-item-list table tbody tr th .lava-action a {
  text-decoration: none;
  font-size: 10px;
  color: #aaa;
  margin-right: 1em;
}
.lava-my-item-list .lava-pagination {
  text-align: center;
  margin: 20px 0;
  font-size: 12px;
}
/*-----------------------------------------
   5. Sidebar - Widget
-----------------------------------------*/
.lava-recent-widget {
  margin-bottom: 30px;
}
.lava-recent-widget .lava-recent-widget-title {
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
}
.lava-recent-widget .lava-recent-widget-title h3 {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #666;
}
.lava-recent-widget .latest-posts {
  margin-bottom: 10px;
}
.lava-recent-widget .latest-posts .lava-recent-widget-content {
  float: left;
}
.lava-recent-widget .latest-posts .lava-recent-widget-content.thumb-content {
  width: 30%;
}
.lava-recent-widget .latest-posts .lava-recent-widget-content.thumb-content .thumb a {
  position: relative;
  display: inline-block;
}
.lava-recent-widget .latest-posts .lava-recent-widget-content.thumb-content .thumb a:hover::after {
  background-color: rgba(0, 0, 0, 0.3);
}
.lava-recent-widget .latest-posts .lava-recent-widget-content.thumb-content .thumb a::after {
  content: '';
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 93%;
  border-radius: 100%;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.lava-recent-widget .latest-posts .lava-recent-widget-content.thumb-content .thumb a img {
  border-radius: 100%;
  border: 3px solid #aaa;
}
.lava-recent-widget .latest-posts .lava-recent-widget-content.text-content {
  width: 70%;
}
.lava-recent-widget .latest-posts .lava-recent-widget-content.text-content h3 {
  margin-bottom: 5px;
  margin-top: 0px;
  font-size: 14px;
  line-height: 15px;
}
.lava-recent-widget .latest-posts .lava-recent-widget-content.text-content h3 a {
  color: #777;
}
.lava-recent-widget .latest-posts .lava-recent-widget-content.text-content a {
  color: #999;
  text-decoration: none;
}
.lava-recent-widget .latest-posts::after {
  content: '';
  display: block;
  clear: both;
}
/* Widget - Featured widget */
.lava-featured-widget {
  margin-bottom: 30px;
}
.lava-featured-widget .lava-featured-widget-title {
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
}
.lava-featured-widget .lava-featured-widget-title h3 {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #666;
}
.lava-featured-widget .latest-posts {
  margin-bottom: 30px;
}
.lava-featured-widget .latest-posts .lava-featured-widget-content {
  position: relative;
}
.lava-featured-widget .latest-posts .lava-featured-widget-content .corner-ribbon {
  width: 100px;
  background: #ff5a5f;
  position: absolute;
  top: 5px;
  left: -3px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  color: #f0f0f0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.lava-featured-widget .latest-posts .lava-featured-widget-content.thumb-content {
  display: table;
  margin: 0 auto;
  margin-bottom: 20px;
}
.lava-featured-widget .latest-posts .lava-featured-widget-content.thumb-content .thumb a img {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.lava-featured-widget .latest-posts .lava-featured-widget-content.text-content h3 {
  margin-bottom: 5px;
}
.lava-featured-widget .latest-posts .lava-featured-widget-content.text-content h3 a {
  font-size: 14px;
  color: #454545;
}
.lava-featured-widget .latest-posts .lava-featured-widget-content.text-content span {
  font-size: 12px;
  color: #aaa;
}
.lava-featured-widget .latest-posts .lava-featured-widget-content.text-content a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
}
.lava-featured-widget .latest-posts .lava-featured-widget-content.text-content p {
  margin-top: 15px;
  font-size: 16px;
}
.lava-featured-widget .latest-posts .lava-featured-widget-content.text-content p.price {
  margin-top: 2px;
  font-size: 14px;
}
/* Widget - Single Contact */
#lava-single-contact-widget {
  margin: 0 0 50px 0;
}
#lava-single-contact-widget > div {
  text-align: center;
}
#lava-single-contact-widget .author-avatar img {
  max-width: 100%;
}
#lava-single-contact-widget .author-avatar .author-name {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}
#lava-single-contact-widget .author-avatar .author-phone a,
#lava-single-contact-widget .author-avatar .author-email a,
#lava-single-contact-widget .author-avatar .author-properties {
  color: #888;
}
/*-----------------------------------------
	6. jQuery Lava MessageBox
-----------------------------------------*/
div#lava-alert-box-bg {
  position: fixed;
  background: rgba(45, 45, 45, 0.2);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999998;
}
div#lava-alert-box {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999999;
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: solid 1px #efefef;
  padding: 10px 30px;
  box-shadow: 0 0 20px rgba(150, 150, 150, 0.8);
  -webkit-box-shadow: 0 0 20px rgba(150, 150, 150, 0.8);
  -moz-box-shadow: 0 0 20px rgba(150, 150, 150, 0.8);
  -ms-box-shadow: 0 0 20px rgba(150, 150, 150, 0.8);
  -o-box-shadow: 0 0 20px rgba(150, 150, 150, 0.8);
}
/*-----------------------------------------
	7. Map Template Page
-----------------------------------------*/
#lava-map-container {
  height: 300px;
}
#lava-map-output {
  margin: 0 0 30px 0;
}
#lava-map-output .lava-list-item {
  width: 100%;
  display: table;
  padding: 10px;
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
}
#lava-map-output .lava-list-item .lv-property-thumbnail {
  float: left;
  width: 10%;
}
#lava-map-output .lava-list-item .lv-property-name-wrap {
  float: left;
  width: 75%;
}
#lava-map-output .lava-list-item .lv-property-name-wrap .property-name {
  margin-bottom: 20px;
}
#lava-map-output .lava-list-item .lv-property-name-wrap .property-name a {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  font-weight: 700;
  display: table-cell;
  font-size: 20px;
}
#lava-map-output .lava-list-item .lv-property-name-wrap .lv-property-info span {
  color: #aaa;
  font-size: 13px;
  display: block;
  float: left;
  width: 30%;
}
#lava-map-output .lava-list-item .property-author {
  width: 10%;
  text-align: center;
  float: left;
  display: table-cell;
}
#lava-map-output .lava-list-item:hover {
  background-color: #eee;
}
#lava-map-filter {
  margin: 0 0 15px 0;
}
#lava-map-filter .filter-group {
  display: table;
  width: 100%;
  margin: 10px 0;
}
#lava-map-filter .filter-group .filter-group-column {
  display: table-cell;
  width: 50%;
}
#lava-map-filter .filter-group .filter-group-column:first-child {
  padding-right: 5px;
}
#lava-map-filter .filter-group .filter-group-column:last-child {
  padding-left: 5px;
}
#lava-map-filter .filter-group > label,
#lava-map-filter .filter-group .filter-group-column > label {
  text-indent: -9999px;
  display: none;
}
#lava-map-filter .filter-group > select,
#lava-map-filter .filter-group .filter-group-column > select {
  width: 100%;
}
#lava-map-filter .filter-group.submit {
  padding: 0;
  margin: 0;
}
#lava-map-filter .filter-group.submit input,
#lava-map-filter .filter-group.submit button {
  float: left;
}
#lava-map-filter .filter-group.submit input {
  width: 80%;
}
#lava-map-filter .filter-group.submit button {
  width: 18%;
}
